@import "scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    overflow-y: auto;
}

header {}

$nav-hover: #019CE4;
$nav-primary: #023E70;



.nav_wrapper {
    background-color: rgba($color: $nav-primary, $alpha: 1);
}


.navbar {
    align-items: center;
    padding: 0;

    img {
        height: 2rem;
        margin-right: 3rem;
    }
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-nav {
    align-items: center;
    justify-content: space-between;

}

.navbar-light .navbar-nav .nav-link {
    padding: 1rem .5rem;
    color: white;
    font-size: calc(.55rem + .5vw);
    font-weight: 500;

    small {
        display: block;
    }
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: 'FontAwesome';
    border-top: 0;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
}

.nav_right {
    position: relative;
    background-color: white;
    border-left: 3px solid $nav-hover;

    // z-index: 5;
    &:before {
        content: "";
        position: absolute;
        width: 2000px;
        left: 100%;
        background-color: white;
        height: 100%;
        // z-index: -1;
    }

    li:nth-child(2) {
        .nav-link {
            padding-right: 0;
        }
    }





}

.nav_right .nav-link-right {
    // display: inline-block;
    color: black !important;
    position: relative;

    span {
        background-color: $nav-hover;
        color: white;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -110%;
        transition: all.3s ease-in-out;

        &:hover {
            background-color: black;

        }
    }
}

.navbar-light .navbar-nav {
    justify-content: space-between !important;
}

.navbar-light .navbar-toggler {
    margin: .5rem 0;
    border-color: rgba(0, 0, 0, 0.7);
}


.hero_sec {
    position: relative;
    width: 100%;
    min-height: 100vh;

    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(0, 68, 92);
        background: linear-gradient(180deg, rgba(0, 68, 92, 0.3) 0%, rgba(0, 7, 10, 1) 95%);
    }

    img {
        width: 100%;
        position: absolute;
        height: 100%;
        object-fit: cover;
        z-index: -1;

    }

    .hero_text {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: white;

        .hero_text-inner {
            position: relative;
            z-index: 1;
            text-align: center;
            font-size: calc(.5rem + .5vw);

            h2 {
                font-size: 10em;
                line-height: 7rem;
                padding-top: 10rem;
                font-weight: 500;

                small {
                    display: block;
                    font-size: 12%;
                    position: relative;
                    width: fit-content;
                    margin: 0 auto;
                    font-weight: 100;

                    &:before {
                        position: absolute;
                        content: '';
                        left: -10%;
                        top: 50%;
                        height: 3px;
                        width: 2rem;
                        background-color: yellow;
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        right: -10%;
                        top: 50%;
                        height: 3px;
                        width: 2rem;
                        background-color: yellow;
                    }
                }
            }
        }

    }
}



.aabc {
    width: 100%;
    height: 5rem;
    background-color: green;
}



@media(max-width: 992px) {
    .nav_right {
        background-color: $nav-primary;
        border-left: 0;

        &:before {
            display: none;
        }
    }
}