@import "scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

$nav_item-hover: #01396D;


body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    overflow-y: auto;
}


$nav-hover: #019CE4;
$nav-primary: #023E70;
$font-primary: #3AABE3;
$font-third: gray;
$color-secondary: #FDCD4C;
$white: #ffffff;



.container {
    max-width: 1140px;
}

.container_right {
    width: calc(1140px + (50% - 1140px / 2));
    margin-left: auto;
    padding: 0 15px;
}

.btn_main {
    display: inline-block;
    text-decoration: none;

}

.btn_theam {
    display: inline-block;
    text-decoration: none;
    color: $nav_item-hover;
    padding: .75rem 1.5rem;
    font-size: .8rem;
    text-transform: uppercase;
}

.btn_theam-primary {
    border: 2px solid $nav_item-hover;
}

.btn_theam-secondary {
    border: 2px solid white;
}

.sec_space {
    padding: 2rem 0;
}

.section_title {
    text-align: center;
    width: 70%;
    margin: 0 auto;

    h2 {
        position: relative;
        font-size: calc(1rem + 1vw);
        display: inline-block;

        &:before {
            content: '';
            position: absolute;
            width: calc(1.5rem + 0.5vw);
            height: 2px;
            background-color: $color-secondary;
            top: 50%;
            left: calc(-3rem + .5vw);
        }


        &:after {
            content: '';
            position: absolute;
            width: calc(1.5rem + 0.5vw);
            height: 2px;
            background-color: $color-secondary;
            top: 50%;
            right: calc(-3rem + .5vw);
        }
    }

    p {
        font-size: calc(.5rem + .5vw);
        padding: 2rem 0;
    }

}

.gradient_x {
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(236deg, rgba(159, 230, 255, 0.708049) 0%, #0ab1f9 77%);
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transition: .3s linear;
    }

    &:hover::after {
        transform: translateX(0);
    }


}



.figure_globle {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .figcaption_globle {
        position: relative;

        img {
            position: absolute;
            z-index: -1;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(236deg, rgba(159, 230, 255, 0.708049) 0%, #0ab1f9 77%);
            padding: 0.5rem;
            // -webkit-transform: translateX(-100%);
            // transform: translateX(-100%);
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            z-index: 1;
        }

    }
}

.section_title-primary {
    h2 {
        color: $nav-primary;
    }

    p {
        color: $font-third;
    }
}

.section_title-secondary {

    h2,
    p {
        color: $white;
    }
}

.para_primary {
    font-weight: lighter;
    color: gray;
    font-size: .8rem;
    line-height: 1.7rem;
    padding-top: 1rem;

}

.nav_wrapper {
    background-color: rgba($color: $nav-primary, $alpha: 1);

    .navbar-toggler {
        background-color: white;
    }

    .navbar-toggler:focus {
        /* text-decoration: none; */
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.125rem;
        box-shadow: 0 0 0 0;
    }
}


.navbar {
    align-items: center;
    padding: 0;

    img {
        height: 2rem;
        margin-right: 3rem;
    }
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-nav {
    align-items: center;
    justify-content: space-between;

}

.navbar-light .navbar-nav .nav-link {
    padding: 1rem .5rem;
    color: white;
    font-size: calc(.55rem + .5vw);
    font-weight: 500;

    small {
        display: block;
    }
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: 'FontAwesome';
    border-top: 0;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
}

.nav_right {
    position: relative;
    background-color: white;
    border-left: 3px solid $nav-hover;

    // z-index: 5;
    &:before {
        content: "";
        position: absolute;
        width: 2000px;
        overflow-x: hidden;
        left: 100%;
        background-color: white;
        height: 100%;
        // z-index: -1;
    }

    li:nth-child(2) {
        .nav-link {
            padding-right: 0;
        }
    }





}

.nav_right .navbar-nav .nav-link {

    // display: inline-block;
    color: black;
    position: relative;

    span {
        background-color: $nav-hover;
        color: white;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -110%;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: black;

        }
    }
}

.navbar-light .navbar-nav {
    justify-content: space-between !important;

}


.navbar-toggler {
    span {
        color: white;
    }
}

.navbar-light .navbar-toggler {
    background-color: transparent;
    margin: .5rem 0;
    border-color: transparent;
}


.hero_sec {
    position: relative;
    width: 100%;
    // height: 70vh;
    height: 100%;


    &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        inset: 0;
        background: rgb(0, 68, 92);
        background: linear-gradient(180deg, rgba(0, 68, 92, 0.3) 0%, rgba(0, 7, 10, 1) 95%);
    }

    .hero_sec-bgc {
        width: 100%;
        height: 100%;
        position: absolute;
        // object-fit: cover;
        z-index: -1;
    }

    .hero_sec-img {
        position: relative;
        width: 100%;
        height: 100%;




    }

    .hero_text {
        width: 100%;
        // position: absolute;
        // top: 0;
        // left: 0;
        color: white;

        .hero_text-inner {
            position: relative;
            z-index: 1;
            text-align: center;
            font-size: calc(.5rem + .5vw);
            // padding: 3rem 0 5rem 0;
            padding-top: 3rem;
            padding-bottom: 7rem;

            h2 {
                font-size: 6em;
                line-height: 4rem;
                // padding-top: 10rem;
                font-weight: 500;
                display: inline-block;

                small {
                    display: block;
                    font-size: 12%;
                    position: relative;
                    width: fit-content;
                    margin: 0 auto;
                    font-weight: 100;

                    &:before {
                        position: absolute;
                        content: '';
                        left: calc(-15% - 1vw);
                        top: 50%;
                        height: 3px;
                        width: calc(1rem + 1vw);
                        background-color: #F2D53F;
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        right: calc(-15% - 1vw);
                        top: 50%;
                        height: 3px;
                        width: calc(1rem + 1vw);
                        background-color: #F2D53F;
                    }
                }
            }
        }

    }


}

.location_sec-text {
    padding-left: 1rem;
}


.hero_text-inner {
    .nav {
        justify-content: center;
    }

    .nav-tabs {
        border-bottom: 0;
        align-items: center;
    }

}

.service_sect {
    .nav-pills .nav-link {
        background-color: $nav-primary;
        border-radius: 0;
        margin-right: 2px;
        font-size: 1rem;
        color: white;
        letter-spacing: 3px;
    }

    .nav-pills .nav-link.active {
        color: $nav-primary;
        background-color: #FEFEFE;
    }

    .select_sec {
        position: relative;

        i {
            color: black;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    select:focus-visible,
    input {
        outline: none !important;
        margin-left: .5rem;
    }
}





.tab-pane {
    background-color: #fff;

    .tab_content-main {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0;

        li {
            // color: gray;
            // margin-left: 1rem;
            border-right: 1px solid #ddd;
            font-size: .7rem;

            i {
                color: gray;
            }

            &:not(:last-child) {
                flex: 1;
                margin-left: 1rem;

            }

            select {
                width: 100%;
                height: 30px;
                border: none;
                color: gray;
                padding: 0 .25rem;
            }

            .input_wrap {
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    right: .5%;
                    transform: translateY(-50%);
                }
            }

            input {
                width: 100%;
                height: 30px;
                border: none;
                border-right: 1px solid #ddd;
                padding: 0 .25rem;
                color: gray;


            }

            input[type="date"]::-webkit-calendar-picker-indicator {

                display: none;
            }

            input[type="date"]::-webkit-calendar-picker-indicator:hover {
                opacity: 1
            }

            button {
                border: 0;
                background-color: transparent;
            }

        }

        li:nth-child(6) {
            padding: 0 1rem;
            // margin-left: 1rem;
            border-right: 0;

        }


        .dropdown-toggle {
            position: relative;


        }

        .dropdown-toggle::after {
            position: absolute;
            right: 5%;
            color: gray;
        }


    }


}

.check_box-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}





.location_section {
    position: absolute;
    top: 90%;
    margin-left: auto;
    width: 100%;
}



.location_inner-left {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    padding-right: 1rem;

    h2 {
        color: $nav_item-hover;
        padding-top: 40%;
        padding-left: 1rem;

    }

    img {
        position: static;
        transform: translate(0, 0);
        width: 60%;
        margin-top: 1rem;
    }
}

.container_right {




    .swiper-container {
        width: 100%;
    }

    .swiper {
        position: static;
    }

    .swiper-wrapper .swiper-slide {
        img {
            width: 100%;
            // height: 85vh;
            object-fit: cover;
        }
    }

    .swiper-button-prev {
        left: 15px;
        /* bottom: 16px; */
        top: 85%;

        i {
            font-size: 1.5rem;
            color: gray;
            transition: all .3s ease-in-out;

            &:hover {
                color: black;
            }
        }

        &:after {
            display: none;
        }
    }

    .swiper-button-next {
        left: 55px;
        top: 85%;

        i {
            font-size: 1.5rem;
            color: gray;
            transition: all .3s ease-in-out;

            &:hover {
                color: black;
            }
        }

        &:after {
            display: none;
        }
    }

    .swiper-slide {
        figure {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;

            &:hover {
                figcaption {
                    // display: block!important;
                    transform: translateX(0);
                }

            }

            img {
                width: 100%;
                position: static;
            }

            figcaption {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(236deg, rgba(159, 230, 255, 0.7080486229890902) 0%, rgba(10, 177, 249, 1) 77%);
                padding: .5rem;
                transform: translateX(-100%);
                transition: all .3s ease-in-out;

                h2 {
                    color: white;
                    font-size: 1.3rem;

                }

                a {
                    position: absolute;
                    bottom: 0.5rem;
                    left: 0.5rem;
                    color: $nav_item-hover;
                    padding: .5rem;
                    background-color: white;
                    padding: 0.5rem 1rem;
                    font-size: 0.8rem;
                    text-decoration: none;
                    display: inline-block;
                }
            }
        }
    }

}



.intro {
    width: 100%;
    padding-top: 30rem;



    .left_col {
        h2 {
            line-height: 2rem;
        }



        a {
            margin: 1rem 0;

        }
    }

    .middle_col {
        text-align: center;

        .image_parent {
            margin: 0 auto;
        }

        img {
            animation: rotation 20s linear infinite;
            width: 90%;
        }

        @keyframes rotation {

            0% {
                transform: rotate(0);
            }


            100% {
                transform: rotate(359deg);
            }
        }

        h2 {
            text-transform: uppercase;
            color: $nav_item-hover;
            font-size: 3em;
            font-weight: bold;
            text-transform: uppercase;
            background-image: url(../img/world-bgc.jpg);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            small {
                font-size: 30%;
                letter-spacing: -1px;
                color: $nav_item-hover;
            }

            span {
                font-size: 40%;
                font-weight: lighter;
                display: block;
                letter-spacing: 3px;
                color: gray;
            }


        }

    }

    .right_col {
        h2 {
            margin-bottom: 1rem;
        }

        .awards_list {
            display: flex;
            list-style: none;
            justify-content: center;
            padding: 0;

            li {
                padding: 0 .5rem;
            }
        }
    }
}

.features {
    padding-top: 2rem;
    position: relative;
    width: 100%;

    .feature_image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    // .features {
    //     .row {
    //         // .col_border:not(:last-child){
    //         //     border-right: 2px solid black;
    //         // } 

    //     }

    //     // .row[class^="col-"]{
    //     //     :nth-child(4){
    //     //         .col_border{
    //     //             border-right: 0;
    //     //         }
    //     //     }
    //     // }



    // }

    .col_border {
        border-right: 2px solid #1AE7F9;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            width: .5rem;
            height: .5rem;
            transform: translateX(100%);
            background-color: $nav_item-hover;
        }
    }



    .features_card {


        a {
            font-size: 3rem;
            color: $nav_item-hover;
            transition: all .3s ease-in-out;

            &:hover {
                transform: rotatey(180deg);
            }
        }

        h2 {
            padding: 1rem 0;
            font-weight: 400;
        }

        p {
            color: black;
            font-weight: lighter;
            padding-bottom: 2rem;
            margin-bottom: 0;
        }
    }
}


.packages {


    .packages-inner {
        position: relative;
    }

    .swiper-button-prev {
        top: 0.5rem;
        right: calc(1rem + 1vw);
        left: auto;
    }

    .swiper-button-next {
        top: 0.5rem;
        right: 0;
    }

    h2 {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 2rem;
            height: 2px;
            background-color: #FEDB39;
            top: 50%;
            left: 11rem;
            transform: translateY(-50%);
        }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: calc(.5rem + 1vw);
        font-weight: bolder;

    }

    .swiper-button-next,
    .swiper-button-prev {
        color: gray;

        // font-size: inherit;
        &:hover {
            &::after {
                color: $nav_item-hover;

            }
        }
    }

    .swiper-slide {
        .swiper-a {
            color: gray;
            font-size: .8rem;
            transition: all .3s ease-in-out;

            i {
                padding-right: .5rem;

                &:hover {
                    color: black;
                }
            }
        }

        figure {
            border: 1px solid rgba($color: $font-third, $alpha: .1);

            img {
                width: 100%;

            }

            figcaption {
                display: flex;
                padding: .5rem 0;

                // justify-content: space-between;
                div {
                    padding: 0 1rem;

                    &:nth-child(1) {
                        border-right: 1px solid rgba($color: $font-third, $alpha: .1);
                        width: 60%;
                        display: flex;
                        justify-content: center;

                        h2 {
                            font-size: calc(0.8rem + 0.1vw);
                            line-height: 1.4rem;
                            margin-bottom: .2rem;

                            &:after {
                                display: none;
                            }
                        }
                    }

                    &:nth-child(2) {
                        width: 40%;

                        p {
                            margin-bottom: .5rem;

                            b {
                                position: relative;
                                padding-left: 6px;
                                display: block;
                                color: $font-primary;

                                &::before {

                                    content: attr(data-currency);
                                    font-size: 60%;
                                    position: absolute;
                                    top: 2px;
                                    left: 0;
                                    color: rgba($color: $font-third, $alpha: .5);
                                }

                                &::after {
                                    content: attr(data-person);
                                    font-size: 75%;
                                    position: absolute;
                                    top: 0.5rem;
                                    right: auto;
                                    color: $font-third;
                                }
                            }
                        }

                        .icon_sec {
                            height: 100%;
                            width: 100%;

                            i {
                                color: white;
                                font-size: .8rem;
                                line-height: 1.2rem;
                                margin-right: .5rem;
                                position: relative;

                                &:after {
                                    content: '';
                                    width: 1.2rem;
                                    height: 1.2rem;
                                    border-radius: 50%;
                                    background-color: $color-secondary;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: -1;

                                }
                            }

                        }

                        .icon-bgc {
                            width: 1rem !important;
                            height: 1rem !important;
                            background-color: $color-secondary;
                            // position: relative;


                        }
                    }
                }



            }
        }

        &:hover {
            figure {
                border-color: $font-third;
                // box-shadow: 0 1px 3px rgba(127, 22, 22, 0.12), 0 1px 2px rgba(38, 1, 1, 0.24);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                box-shadow: 0 0 10px $font-third;
            }
        }

    }

    ul {
        padding: 0;
        display: flex;
        list-style: none;

        li:nth-child(1) {
            padding-right: 1rem;
            border-right: 1px solid rgba($color: gray, $alpha: .3);

            h2 {
                font-size: .8rem;
                line-height: 1.5rem;

                &:after {
                    display: none;
                }
            }


        }

        li:nth-child(2) {
            padding-left: 1rem;

            p {
                color: #1CA4E2;
                font-size: 1.5rem;

                small {
                    color: gray;

                }
            }


        }

    }

}

// @media(min-width: 1199px){
//     .features .col_border-a{
//         border-right: 0;
//         &:after{
//             width: 0;
//             height: 0;
//         }
//     }
// }



.speciality {
    background-image: url(../img/beach-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgb(95, 212, 232);
        background: linear-gradient(97deg, rgba(95, 212, 232, 1) 37%, rgba(95, 212, 232, 0.711007202870747) 71%, rgba(95, 212, 232, 1) 92%);
        // z-index: 1;

    }

    // position: relative;
    // width: 100%;
    // height: 100vh;



    // .speciality_bg {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     // inset: 0;
    //     z-index: -2;
    // }

    // .speciality_text {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     inset: 0;
    // }

    .speciality_text-inner {
        // background-color: green;
        position: relative;
        z-index: 1;

        .row {
            align-items: center;
        }

        .speciality_text-left {


            h2 {
                position: relative;
                display: block;
                width: fit-content;
                font-size: calc(1rem + .8vw);
                padding: 1rem 0;
                color: $nav-primary;

                &:before {
                    content: '';
                    position: absolute;
                    top: 2.1rem;
                    right: 2rem;
                    width: 1rem;
                    height: 3px;
                    background-color: $nav-primary;
                }

                small {
                    font-size: 60%;
                    font-weight: lighter;
                    line-height: 2rem;
                    display: block;
                    padding-top: .5rem;
                    color: $white;
                }

            }

            .specialist_card {
                display: flex;



                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $nav-primary;
                    font-size: calc(2rem + 1vw);
                    padding-right: 1rem;
                }

                figcaption {
                    h2 {
                        &:before {
                            display: none;
                        }

                    }
                }

            }
        }


        .speciality_img {
            outline: 15px green;
            outline-offset: 15px;

            img {
                width: 80%;
                display: block;
                margin: 0 auto;

            }
        }


    }



}

.figure_globle {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .figcaption_globle {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(236deg, rgba(159, 230, 255, 0.708049) 0%, #0ab1f9 77%);
        padding: 0.5rem;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
}



.adventure {
    .advanture_gallery {
        display: flex;
        flex-wrap: wrap;

        .col_left {
            width: 33.333333%;

            .adv_intro a {
                text-decoration: none;


                figure {
                    position: relative;
                    padding-top: 180%;
                    margin-bottom: 0;
                    overflow: hidden;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: $nav-primary;
                        opacity: .9;
                        padding: 0.5rem;
                        // -webkit-transform: translateX(-100%);
                        // transform: translateX(-100%);
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                        // z-index: 1;
                    }


                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                        z-index: -1;
                    }

                    figcaption {
                        text-align: center;
                        color: $white;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;

                        h3 {
                            position: relative;

                            &:before,
                            &:after {
                                content: attr(data-attr);
                                width: calc(1.5rem + 0.5vw);
                                height: 3px;
                                background-color: $color-secondary;
                                top: 18px;
                                right: auto;
                                left: calc(-4rem + 0.5vw);
                                z-index: 10;
                                position: absolute;

                            }

                            &:after {
                                right: calc(-4rem + .5vw) !important;
                                left: auto !important;
                            }

                            small {
                                position: relative;
                                color: $white;

                                &::before {

                                    content: attr(data-currency);
                                    font-size: 90%;
                                    position: absolute;
                                    top: -3px;
                                    left: 37px;
                                    
                                }
                            }
                        }


                        span {
                            display: inline-block;
                            padding: .5rem 2rem;
                            border: 2px solid $white;

                        }



                        h2 {
                            font-size: calc(1.3rem + .5vw);
                            width: 80%;
                            margin: 0 auto;


                        }

                        small {
                            display: block;
                            margin: 0;
                            color: rgba($color: $white, $alpha: .7);
                            font-size: 70%;
                            margin: 1rem 0;
                            line-height: 2rem;
                        }


                    }
                }
            }
        }

        .col_right {
            flex: 1;
            display: flex;
            flex-wrap: wrap;

            .gradient_x {
                &:after {
                    opacity: .75;
                }
            }


            a {
                width: 50%;
                text-decoration: none;
                display: inline-block;

                &:hover {
                    span {
                        background-color: transparent;
                        color: $white;
                    }
                }

                figure {
                    position: relative;
                    padding-top: 90%;
                    margin-bottom: 0;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: -1;
                    }

                    span {
                        display: inline-block;
                        position: absolute;
                        bottom: 1rem;
                        left: 1rem;
                        font-size: calc(.3rem + .5vw);
                        font-weight: bold;
                        padding: calc(0.2rem + 0.5vw);
                        background-color: $white;
                        color: $nav_item-hover;
                        z-index: 4;
                        transition: all .3s ease-in-out;

                        small {
                            font-size: 70%;
                        }
                    }

                }
            }
        }





    }

}



.adventure_places{
    background-image: url(../img/advanture-places-bg.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        inset: 0;
        background-color: rgba($color: $nav_item-hover, $alpha: .9);
    }
}



@media(max-width: 1199px) {

    .hero_sec .hero_text .hero_text-inner h2 {
        font-size: 6em;
        line-height: 2.5rem;
        // padding-top: 4rem;
        font-weight: 500;
        display: inline-block;
    }


    .tab-pane .tab_content-main {
        flex-direction: column;
        background-color: rgba($color: #eaeaea, $alpha: .5) !important;
        gap: .8rem;
        padding: .5rem;

        li {
            // flex: 100;
            width: 100%;
            margin: 0 !important;
            border-right: 0;

            input {
                padding: 0 !important;
                border-right: 0;
                margin-left: 0;
                background-color: transparent !important;
            }

            .select_sec {
                i {
                    transform: translate(50%, -50%);
                }

                select {
                    padding-left: .75rem;
                    background-color: transparent !important;
                }
            }

        }
    }




}

@media(max-width: 992px) {
    .navbar-collapse {
        .nav_left .navbar-nav {
            display: inline-block;

            li {
                border-bottom: 1px solid black;
            }
        }
    }

    .nav_wrapper-inner {
        position: relative;
        padding: .5rem 0;

        .navbar-toggler {
            position: absolute;
            right: 1%;
            top: 0;
            transform: translateY(-25%);
        }

        .contact_icon {
            position: absolute;
            right: 1.8rem;
            top: 0;

        }

    }

    .nav_right {
        background-color: $nav-primary;
        border-left: 0;

        &:before {
            display: none;
        }

        ul li:nth-child(2) {
            display: none;
        }

    }




    .hero_sec .location_section {
        top: 100% !important;
        transform: translate(0, 0);
    }

    .hero_text-inner {
        padding-bottom: 5rem !important;
    }

    .container_right {
        width: 100% !important;
        padding: 0;
        margin: 0;
    }

    .location_sec-text {
        display: none;
    }

    .adventure .advanture_gallery .col_left {
        width: 100%;

        figure {
            padding-top: 100%;
        }
    }

    .adventure .advanture_gallery .col_right {
        flex: initial;
        width: 100%;

    }


}


@media (max-width: 768px) {
    .middle_col {
        display: none;
    }


}







@media (max-width: 575px) {
    .location_section .swiper .swiper-wrapper .swiper-slide {
        img {
            width: 100vw;
            height: 85vh;
            object-fit: cover;
        }
    }

}


// **********************
// .nav_wrapper{
//     position: relative;
// }
// .nav_wrapper::after{
//     content: "";
//     position: absolute;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     width: 28%;
//     background-color: white;
//     z-index: -1;
// }
// .nav_wrapper::before{
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     width: 71%;
//     background-color: #023e70;
// }